#about-me > article{
    width: 80%;
    padding: 30px;
    border: solid 1px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#about-me > article > p:nth-child(1) {
    text-align: center;
}
#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
