@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

header > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
header > nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
header > nav > ul {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
header > nav > ul > li {
    display: inline;
    font-size: 1.5em;
}
.menu-entry {
    display: inline;
    text-decoration: none;
    color: black;
    font-family: 'Alata', sans-serif;
}
.menu-entry::after {
    content: '';
    width: 0;
    margin-left: 50%;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}
.menu-entry:hover::after {
    margin-left: 0;
    width: 100%;
}
header > svg {
    flex: 0 0 100%;
}
header > svg > path {
    animation: chroma 30s infinite, waves 60s infinite alternate-reverse;
    transition: all 2s;
}
header > div > h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Space Mono', monospace;
    margin-bottom: 5vh;
}
@media only screen and (max-width: 600px) {
    header > div > h1 {
        margin-bottom: 60vh;
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 1200px) {
    header > nav > ul {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}
header > div > div {
    display: flex;
    justify-content: center;
}
header > div > div > img {
    height: 100px;
    width: 100px;
    transform: rotate(90deg);
    animation: arrow-jump 10s infinite;
}

@keyframes chroma {
    from, to { fill: hsl(324, 100%, 50%); }
    10%      { fill: hsl(360, 100%, 50%); }
    20%      { fill: hsl( 36, 100%, 50%); }
    30%      { fill: hsl( 72, 100%, 50%); }
    40%      { fill: hsl(108, 100%, 50%); }
    50%      { fill: hsl(144, 100%, 50%); }
    60%      { fill: hsl(180, 100%, 50%); }
    70%      { fill: hsl(216, 100%, 50%); }
    80%      { fill: hsl(252, 100%, 50%); }
    90%      { fill: hsl(288, 100%, 50%); }
}

@keyframes arrow-jump {
    0%,
    6%,
    100% {
        transform: rotate(90deg) translateX(0%);
        transform-origin: 50% 50%;
    }
    1% {
        transform: translateX(-30px) rotate(84deg);
    }
    2% {
        transform: translateX(15px) rotate(96deg);
    }
    3% {
        transform: translateX(-15px) rotate(86.4deg);
    }
    4% {
        transform: translateX(9px) rotate(92.4deg);
    }
    5% {
        transform: translateX(-6px) rotate(88.8deg);
    }
}
@keyframes waves {
    0% {
        d: path("M0,128L288,128L576,96L864,192L1152,160L1440,288L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    5% {
        d: path("M0,0L288,320L576,64L864,64L1152,256L1440,192L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    10% {
        d: path("M0,320L288,160L576,128L864,224L1152,64L1440,288L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    15% {
        d: path("M0,0L288,320L576,64L864,256L1152,224L1440,32L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    20% {
        d: path("M0,256L288,288L576,192L864,256L1152,64L1440,32L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    25% {
        d: path("M0,288L288,32L576,192L864,128L1152,288L1440,160L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    30% {
        d: path("M0,96L288,64L576,320L864,160L1152,64L1440,224L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    35% {
        d: path("M0,128L288,128L576,96L864,288L1152,320L1440,160L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    40% {
        d: path("M0,96L288,224L576,224L864,256L1152,224L1440,160L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    45% {
        d: path("M0,256L288,64L576,64L864,160L1152,32L1440,320L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    50% {
        d: path("M0,160L288,64L576,96L864,224L1152,320L1440,96L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    55% {
        d: path("M0,128L288,0L576,128L864,224L1152,288L1440,96L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    60% {
        d: path("M0,160L288,32L576,64L864,32L1152,32L1440,320L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    70% {
        d: path("M0,32L288,224L576,128L864,128L1152,128L1440,96L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    75% {
        d: path("M0,96L288,288L576,0L864,288L1152,0L1440,224L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    80% {
        d: path("M0,320L288,64L576,96L864,128L1152,288L1440,32L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    85% {
        d: path("M0,256L288,288L576,192L864,256L1152,224L1440,96L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    90% {
        d: path("M0,224L288,32L576,288L864,64L1152,128L1440,0L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    95% {
        d: path("M0,64L288,32L576,96L864,128L1152,32L1440,192L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
    100% {
        d: path("M0,96L288,0L576,192L864,96L1152,96L1440,128L1440,0L1152,0L864,0L576,0L288,0L0,0Z")
    }
}
