@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html, body {
    margin: 0;
    font-size: 1em;
    scroll-behavior: smooth;
}
@media only screen and (max-device-width : 640px) {
    html,body {
        font-size: 1.35em;
    }
}

section {
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Alata', sans-serif;
}
section > h3 {
    text-align: center;
}
section > article {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
section > article > h4 {
    text-align: center;
}
.section-with-image > div {
    display: flex;
}
.section-with-image > div > article {
   width: 70%;
}
.section-with-image > div > aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-with-image > div > aside > img {
    width: 80%;
}
@media only screen and (max-width: 1200px) {
    .section-with-image > div {
        flex-direction: column;
    }
    .section-with-image > div > article {
        width: 100%;
    }
    .section-with-image > div > aside {
        width: 100%;
    }
}
footer {
    font-size: 0.7em;
}
